*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 21, 21);
}
#app{
    display: flex;
    width: 200vw;
    height: 100vh;
}
.search-section{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
.code-read-container{
    height: 100vh;
    width: 100vw;
    background-color: red;
}





.nav-bar{
    height: 50px;
    width: 100vw;
    border: 1px solid red;
}
